<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <th:block th:fragment="head">
    <!-- Latest compiled and minified CSS -->
        <link href="bootstrap3/css/bootstrap.min.css" rel="stylesheet" />
        <link href="assets/css/gsdk.css" rel="stylesheet"/>

        <link href="assets/css/demo.css" rel="stylesheet" />
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link href='https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans:400,300' rel='stylesheet' type='text/css'/>
        <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </th:block>

        <title>Base</title>
</head>
<body>
<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-nav navbar-static-top" th:fragment="navbar">
            <div class="container">

                <div class="masthead">
                    <ul class="nav nav-justified">
                            <li><a href="/"> <h3>INSTAPOP</h3></a></li>
                        <th:block sec:authorize="isAnonymous()">
                            <li><a href="/login"><h3>Login</h3></a></li>
                            <li><a href="/register"><h3>Register</h3></a></li>
                        </th:block>

                        <th:block sec:authorize="isAuthenticated()">
                            <li><a href="/logout"><h3>Logout</h3></a></li>
                            <th:block sec:authorize="hasAuthority('ADMIN')">
                                <li><a href="/upload"><h3>Add +</h3></a></li>
                                <li><a href="/makepost"><h3>Make post</h3></a></li>
                            </th:block>


                        </th:block>

                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<!--================================================== &ndash;&gt;-->

<div class="container">


</div><!-- /.container -->
<th:block th:fragment="footlinks">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</th:block>
</body>
</html>