<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="base :: head"></th:block>
</head>
<body>
<br/><br/>
<th:block th:replace="base :: navbar"></th:block>
<div class="container">
    <h3>Upload</h3>
    <form th:object="${photo}" method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file"/><br/><br/>
        <label>Caption</label>
        <input type="text" name="caption" th:field="*{caption}"/><br/>
        <input type="submit" value="Submit"/>
    </form>
    <div th:if="${message}">
        <h3 th:text="${message}"/><br/><br/>
    </div>

<div class="row">
    <div th:utext="${sizedimageurl}">

    </div>
</div>


    <div class="row">
        <h3>Filters</h3>

            <div class="col-md-3">

                <div th:utext="${sepiaimageurl}">

                </div>

            </div>
        <div class="col-md-3">

            <div th:utext="${pixelateimageurl}">

            </div>

        </div>
        <div class="col-md-3">

            <div th:utext="${redimageurl}">

            </div>

        </div>
        </th:block>
    </div>

</div>


</body>
<th:block th:replace="base :: footlinks"></th:block>
</html>
